{{#if post.length}}
<section>
  <h2>Your Posts</h2>
    {{#each post as |post|}}
      {{> dash-details post}}
    {{/each}}

</section>
{{/if}}

{{!-- this will load of the new post form in the dashboard --}}

<div id="CreatePost" class="card">
    <h2 class="card-header">Create New Post</h2>
    <form class="card-body new-post-form" id="new-post-form">
        <label for="post-title" class="form-label">Title</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />


        <label class="form-label" for="content">Text</label>
        <input class="form-input" id="post_text" name="text" />

        <button type="submit" class="btn">Create</button>
    </form>
</div>

<script src="/js/newPost.js"></script>
