{{!-- page is part if the user dashboard when they link of the title of the post to edit that post --}}
<div class="card">
    <h3 class="card-header">Edit Post</h3>
    <form class="card-body edit-post-form">
        <button type="submit" class="btn">Update Post</button>
        <button type="button" class="delete-post btn">Delete Post</button>
    </form>
</div>

<script src="./js/editPost.js"></script>
