:root {
  --primary: #563b3b;
  --secondary: #dbf8db;
  --shadow: #ffffff;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

header {
  background-color: var(--primary);
  color: var(--secondary);
  padding-top: 1%;
}

body {
  background-color: var(--secondary);
  margin: 0;
}

  /* css for the main handlerbar*/
.home-link {
  display: inline-block;
  color: var(--primary);
  font-size: 35px;
  padding: .5%;
  margin-left: 3%;
  margin-bottom: 3%;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--secondary);
  border-radius: .3rem;
  box-shadow: 6px 5px var(--shadow);
}

.home-link:hover {
  display: inline-block;
  color: var(--shadow);
  font-size: 38px;
  padding: .5%;
  margin-left: 3%;
  margin-bottom: 3%;
  text-decoration: none;
  text-transform: uppercase;
  background-color: var(--primary);
  border-radius: .3rem;
  box-shadow: 6px 5px var(--secondary);
}

.nav-link {
  color: var(--secondary);
  font-size: 25px;
  padding-left: 3%;
  text-decoration: none;
}

.nav-link:hover {
  color: var(--secondary);
  font-size: 30px;
  padding-left: 3%;
  text-decoration: underline;
}

main {
  display: block;
}

h2 {
  background-color: var(--primary);
  color: var(--secondary);
  margin: 0 20%;
}

form {
  display: block;
  border: black solid 1px;
  margin: 0 20%;
  padding: 1%;
}

p {
  color: black;
}